a {
	@if $link-underline == true {
		text-decoration: underline;
	} @else {
		text-decoration: none;
	}
	&:link {

	}
	&:visited {

	}
	&:focus {
		
	}
	&:hover {
		@if $link-underline == "onHover" {
			text-decoration: underline;
		}
	}
	&:active {

	}
}