@mixin align-page-to($align-page:"center") {
	@if $align-page == "left" {
		margin: auto auto auto 0;
	} @else if $align-page == "right" {
		margin: auto 0 auto auto;
	} @else if $align-page == "center" {
		margin: 0 auto;
	}
}

@mixin hidden() {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

@mixin clearfix() {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@mixin separator($color:$separator-color) {
	margin-bottom: ritmo(2);
	@include ritmo-bottom-border($lines:2)
	border-bottom-color: $color;
	border-bottom-style: solid;
}

// Sets items on a container on an horizontal axis.
// Flexbox-based with float-based fallback
@mixin horizontal-align {
	display:flex;
	@include clearfix();
	* {
		float:left;
	}
}