@mixin align-page-to($align-page:"center") {
	@if $align-page == "left" {
		margin: auto auto auto 0;
	} @else if $align-page == "right" {
		margin: auto 0 auto auto;
	} @else if $align-page == "center" {
		margin: 0 auto;
	}
}

@mixin hidden() {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}